*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: linear-gradient(rgba(90, 90, 172, 0.774),rgba(67, 67, 136, 0.849)),url(background.jpeg);
    background-attachment: fixed;
    font-size: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Poppins', sans-serif;
}

form{
    background-color: rgba(2, 2, 73, 0.856);
    color: #fff;
    padding: 40px;
    border-radius: 3px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin: auto 313px auto 313px;
}

h1, p{
    color: #ffffff;
    box-sizing: border-box;
}
h1{
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-top: 45px;
}
p{
    font-style: italic;
    font-family: 'Poppins', sans-serif;
    margin-top: 5px;
    font-weight: 100;
    font-size: 17px;
}

a{
    font-size: 15px;
}

.texttype{
    margin-top: 5px;
    width: 100%;
    outline: none;
    inline-size: none;
    border-radius: 6px;
    padding: 10px;
    box-sizing: border-box;
}

select{
    margin-top: 5px;
    width: 100%;
    font-size: 1rem;
    outline: none;
    inline-size: none;
    border-radius: 6px;
    padding: 5px;
}

textarea{
    width: 100%;
    height: 120px;
    font-size: 15px;
    inline-size: none;
    border-radius: 2px;
    padding: 10px;
    box-sizing: border-box;
}

button{
    width: 100%;
    font-size: 1rem;
    padding: 0.50rem;
    background-color: rgba(90, 167, 90, 0.918);
    cursor: pointer;
    border-color: rgba(111, 204, 111, 0.918);
    color: #fff;
    border-radius: 2px;
}